name: Message Verifier
on:
  push:
    branches: [ master ]
  pull_request_target:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Import CICADA 3301 key
        run: ./scripts/import_cicada_3301_key.sh
      - name: Verify messages
        run: ./scripts/verify_messages.sh
