name: Wordlist Verifier
on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  verify:
    name: Verify Wordlists
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Verify wordlists
        run: ./scripts/verify_wordlists.sh
